<h1>Dona Http: redes sociales más usadas</h1>
<hr>
<div class="alert alert-info" *ngIf="doughnutChartData.datasets.length === 0; else divGrafica">
    Cargando datas
</div>

<div class="col">
    <div class="row">
        <ng-template #divGrafica>
            <div style="display: block">
                <canvas baseChart [data]="doughnutChartData" [type]="doughnutChartType">
                </canvas>
            </div>
            <span class="float-end text-primary">Información en billones de usuarios.</span>
        </ng-template>
    </div>
</div>